.multi_use_footer {
  overflow-x: hidden;
  overflow-y: scroll;
  bottom:0px;
  right:0px;
  z-index:1;
  position:absolute;
  width:100%;
  max-height: 80vh;
  transition-duration: 0.5s;
}

.entry_input {
  width: 150px!important;
  transition-duration: 0.5;
}

.entry_input:focus {
  width: 500px!important;
}
