/* token fields */
.token-input {
  height: 80%;
  margin-left: 6px
}
.token-input > .input-start {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(255,255,255,0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0.5em;
}
.token-input > .input-end {
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(255,255,255,0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0.5em;
}
.token-input > .input-field {
  height: 100%;
  text-align: center;
  width: 15vw;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.token-input > .input-field:focus {
  border-top: 2px solid rgb(0, 255, 186)!important;
  border-bottom: 2px solid rgb(0, 255, 186)!important;
  box-shadow: none!important;
}

/* container */
.supercontainer {
  width: 100%;
}
.supercontainer > .btn {
  border-top: 1px solid black;
  width: 100%;
  margin: 0;
  background: rgb(88, 88, 255);
}
.supercontainer .content-list {
  width: 100%;
  padding-right: 5%;
  padding-bottom: 1vh;
}
.supercontainer > button[loaded=true]::after {
  font-family: "Material Icons";
  content: ' arrow_downward';
}
.supercontainer > button:not([loaded=true])::after {
  font-family: "Material Icons";
  content: ' expand_more';
}
.container_button {
  border-top: 1px solid black;
  width: 100%;
  margin: 0;
  background: rgb(66, 66, 255);
}

/* message's */
.message {
  width: 100%;
  font-size: 120%;

}
.no-results {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 300%;
  background: #7a7a7a;
  border-top: 5px solid #d9d9d9;
  border-bottom: 5px solid #d9d9d9;
}
.no-results::after {
  content: "No entrys returned";
}

/* scroll bar */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	background-color: #0ae;
}

/* result entry col's */
.result_row {
  height: 7.5%;
}
.result_col {
  width: fit-content;
  height: 100%;
  border: 1px solid black;
  margin: 2px;
  padding: 3px;
  position: relative;
  transition: 0.3s;
}
.result_col.id{
  background: #56aaff;
}
.result_col.none{
  background: rgb(100, 100, 100);
}
.result_col.string{
  background: #00d000;
}
.result_col.number{
  background: #ff6540;
}
.result_col.bool{
  background: rgb(100, 75, 125);
}
.result_col.object{
  background: rgb(225, 175, 0);
}
.result_col div.key {
  text-align: left;
  height: 50%;
}
.result_col input {
  text-align: left;
  padding: 0;
  margin: 0;
  background: white;
  border: none;
  height: 50%;
  width: 150px;
}
.result_col input:focus {
  width: 450px;
}