/* token fields */
.token-input {
  height: 80%;
  margin-left: 6px
}
.token-input > .input-start {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(255,255,255,0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0.5em;
}
.token-input > .input-end {
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(255,255,255,0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0.5em;
}
.token-input > .input-field {
  height: 100%;
  text-align: center;
  width: 15vw;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.token-input > .input-field:focus {
  border-top: 2px solid rgb(0, 255, 186)!important;
  border-bottom: 2px solid rgb(0, 255, 186)!important;
  box-shadow: none!important;
}

/* container */
.supercontainer {
  width: 100%;
}
.supercontainer > .btn {
  border-top: 1px solid black;
  width: 100%;
  margin: 0;
  background: rgb(88, 88, 255);
}
.supercontainer .content-list {
  width: 100%;
  padding-right: 5%;
  padding-bottom: 1vh;
}
.supercontainer > button[loaded=true]::after {
  font-family: "Material Icons";
  content: ' arrow_downward';
}
.supercontainer > button:not([loaded=true])::after {
  font-family: "Material Icons";
  content: ' expand_more';
}
.container_button {
  border-top: 1px solid black;
  width: 100%;
  margin: 0;
  background: rgb(66, 66, 255);
}

/* message's */
.message {
  width: 100%;
  font-size: 120%;

}
.no-results {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 300%;
  background: #7a7a7a;
  border-top: 5px solid #d9d9d9;
  border-bottom: 5px solid #d9d9d9;
}
.no-results::after {
  content: "No entrys returned";
}

/* scroll bar */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	background-color: #0ae;
}

/* result colors */
.typeof_id{
  background: #4285F4;
}
.typeof_none{
  background: #9e9e9e;
}
.typeof_string{
  background: #4CAF50;
}
.typeof_number{
  background: #F44336;
}
.typeof_bool{
  background: #3F729B;
}
.typeof_object{
  background: #e48800;
}

/* result entry col's */
.result_row {
  height: 8.5%;
  margin: 3px;
}
.result_col {
  width: fit-content;
  color: white;
  height: 100%;
  border: 1px solid black;
  margin: 3px;
  padding: 4px;
  position: relative;
  transition: 0.3s;
}
.result_col div.key {
  text-align: left;
  height: 50%;
}
.result_col input[type=text], .result_col input[type=number], .result_col .switch, .result_col textarea {
  text-align: left;
  padding: 0;
  margin: 0;
  background: white;
  border: none;
  height: 50%;
  width: 150px;
  transition: all 0.3s;
  resize: none;
  position: relative;
}
.result_col input[type=text]:focus, .result_col input[type=number]:focus, .result_col textarea:focus {
  width: 450px;
}
.result_col textarea:focus {
  height: 250px;
  z-index: 100;
}
.result_col .switch {
  display: flex;
  align-items: center;
}
.result_col .switch[state=false] {
  background: red;
}
.result_col .switch[state=true] {
  background: lime;
}
.result_col .switch[state=false]::after {
  content: "False";
  margin: auto;
  color: white;
}
.result_col .switch[state=true]::after {
  content: "True";
  margin: auto;
  color: black;
}

/* modal input fields */
.field_space .field_key_value {
  padding: 5px;
}
.field_space button, .field_space select {
  margin: 0;
  padding: 8px;
}
.field_space input {
  text-align: center;
}
