/* token fields */
.token-input {
  height: 80%;
  margin-left: 6px
}
.token-input > .input-start {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(255,255,255,0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0.5em;
}
.token-input > .input-middle {
  height: 100%;
  background: rgba(255,255,255,0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0.5em;
  cursor: help;
}
.token-input > .input-end {
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(255,255,255,0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0.5em;
  cursor: pointer;
}
.token-input > .input-field {
  margin: 0;
  height: 100%;
  text-align: center;
  width: 15vw;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.token-input > .input-field:focus {
  border-top: 2px solid rgb(0, 255, 186)!important;
  border-bottom: 2px solid rgb(0, 255, 186)!important;
  box-shadow: none!important;
}

/* footer buttons */
.footer-buttons {
  margin-left: auto;
}
.footer-buttons .btn {
  padding-left: 2em;
  padding-right: 2em;
  height: 90%;
  margin: 0 0.65em;
}

/* container */
.supercontainer {
  width: 100%;
}
.supercontainer > .btn {
  border-top: 1px solid black;
  color: white;
  width: 100%;
  margin: 0;
  background: #5858ff;
}
.content-list > .btn:last-child {
  margin-bottom: 5px;
}
.supercontainer > .content-list {
  /* padding-bottom: 1em; */
}
.supercontainer > .content-list > .supercontainer {
  padding-right: 5%;
}
.content-list > .btn {
  border-top: 1px solid black;
  width: 100%;
  margin: 0;
  background: #4242ff;
  display: block;
  color: white;
}
.supercontainer > button[loaded=true]::after {
  font-family: "Material Icons";
  content: ' arrow_downward';
}
.supercontainer > button:not([loaded=true])::after {
  font-family: "Material Icons";
  content: ' expand_more';
}

/* message's */
.message {
  width: 100%;
  font-size: 120%;

}
.no-results {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 300%;
  background: #7a7a7a;
  border-top: 5px solid #d9d9d9;
  border-bottom: 5px solid #d9d9d9;
}
.no-results::after {
  content: "No entrys returned";
}

/* scroll bar */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	background-color: #0ae;
}

/* result colors */
.typeof_id{
  background: #4285F4;
}
.typeof_none{
  background: #9e9e9e;
}
.typeof_string{
  background: #4CAF50;
}
.typeof_number{
  background: #F44336;
}
.typeof_bool{
  background: #3F729B;
}
.typeof_object{
  background: #e48800;
}
.typeof_remove{
  background: #323232;
}

/* result entry col's */
.result_row {
  height: 8.5%;
  margin: 3px;
}
.result_col {
  width: fit-content;
  color: white;
  height: 100%;
  border: 1px solid black;
  margin: 3px;
  padding: 4px;
  position: relative;
  transition: 0.3s;
}
.result_col div.key {
  text-align: left;
  height: 50%;
}
.result_col input[type=text], .result_col input[type=number], .result_col .switch, .result_col textarea {
  text-align: left;
  padding: 0;
  margin: 0;
  background: white;
  border: none;
  height: 50%;
  width: 150px;
  transition: all 0.3s;
  resize: none;
  position: relative;
}
.result_col input[type=text]:focus, .result_col input[type=number]:focus, .result_col textarea:focus {
  width: 450px;
}
.result_col textarea:focus {
  height: 250px;
  z-index: 100;
}
.result_col .switch {
  display: flex;
  align-items: center;
}
.result_col .switch[state=false] {
  background: red;
}
.result_col .switch[state=true] {
  background: lime;
}
.result_col .switch[state=false]::after {
  content: "False";
  margin: auto;
  color: white;
}
.result_col .switch[state=true]::after {
  content: "True";
  margin: auto;
  color: black;
}

/* button */
.btn {
  padding: .3em .7em;
  border-radius: 0px;
  border: none;
  text-transform: none;
}
.btn.btn-block {
  width: 100%;
}

/* input */
input[type=number], input[type=text], input[type=email], input[type=password] {
  background: transparent;
  outline: none;
  margin: 0.25em;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  height: 2.2em;
  padding: 0 1em;
  transition-duration: .5s;
}
input[type=number]:focus, input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  box-shadow: #05a 0px 2px 0px;
}
