body {
	margin: 0;
}
* {
	box-sizing: border-box!important;
	font-family: 'monospace', monospace;
}

/* window parts */
header {
	top: 0;
	width: 100vw;
	height: 15vh;
	color: white;
	overflow: auto;
}
main {
	width: 100vw;
	height: 80vh
}
footer {
	bottom: 0;
	width: 100vw;
	height: 5vh;
	overflow: auto;
}

/*left next to result_space*/
#container_select {
	border-right: 3px solid black;
	height: 100%;
	width: 17.5vw;
	overflow-y: auto;
}

/*right next to container_select*/
#result_space {
	height: 100%;
	width: 82.5vw;
	overflow-y: auto;
	overflow-x: visible;
}

/* logo image */
#db_logo {
	height: 100%;
}

/*right next to logo*/
#main_header {
	padding: 0;
	margin: 0;
}
#current_container {
	margin-left: 1ch;
}
#total_entrys {
	margin-left: 1ch;
}

/* message */
#message_space {
  bottom: 5vh;
  width: 82.5%;
	right: 0;
	position: fixed;
	z-index: 50000;
}
#system_message *{
	color: inherit;
}
#system_message {
	padding: .5em;
	white-space: normal!important;
	max-width: 20vw;
	display: none
}
#system_message.show {
	display: flex;
}

/* menus */
#main_menu {
	padding: 0.15em;
	border: 1px solid white;
	position: fixed;
  top: 15vh;
	right: 0;
	z-index: 400;
}
#col_edit_menu {
	background: #666;
	border: 1px solid white;
	z-index: 400;
}
#col_edit_menu button {
	margin: 2px;
}

#overlay {
	z-index: 900000;
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: none;
}
#overlay.show {
	display: block;
}
