body {
	margin: 0;
	
}

* {
	box-sizing: border-box!important;
}
.btn {
	text-transform: none;
}

/* window parts */
header {
	top: 0;
	width: 100vw;
	height: 15vh;
	color: white;
	overflow: auto;
}
main {
	width: 100vw;
	height: 80vh
}
footer {
	bottom: 0;
	width: 100vw;
	height: 5vh;
	overflow: auto;
}
footer .btn {
	height: 90%;
	margin: 0 0.65em;
}
.container-select {
	border-right: 3px solid black;
	height: 100%;
	width: 17.5vw;
	overflow-y: auto;
}
#result_space {
	height: 100%;
	width: 82.5vw;
	overflow-y: auto;
	overflow-x: visible;
}
#select_modal {
	position: fixed;
	right: 0;
	bottom: 5vh;
	width: 82.5vw;
	z-index: 1000;
}

/* logo image */
#db_logo {
	height: 100%;
}

/* message */
#message-space {
  bottom: 5vh;
  width: 82.5%;
	right: 0;
	position: fixed;
	z-index: 50000;
}

/* menu */
#main-menu {
	padding: 0.15em;
	background: rgba(255,255,255, 0.10);
	border: 1px solid white;
	position: fixed;
  top: 15vh;
	right: 0;
	z-index: 400;
}
#col_edit_menu {
	padding: 0.15em;
	background: rgba(255,255,255, 0.10);
	border: 1px solid white;
	z-index: 400;
}
